body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding:20px;
}

#gallery img {
    height: 200px;
}

#gallery h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
